div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 33%;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

table {
    width: 100%;
}

table td {
    width: 50%;
}

iframe {
    height: 100%;
    width: 100%;
}

iframe:fullscreen {
    background-color: rgba(255,255,255,1);
}
iframe:-webkit-full-screen {
    background-color: rgba(255,255,255,1);
}
iframe:-moz-full-screen {
    background-color: rgba(255,255,255,1);
}

button.fullscreen-btn {
    margin-top:20px;
    color: green;
}

h3 {
    float: left;
}